*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

main {
  display: flex;
  justify-content: center;
  max-width: 50rem;
}

body {
  background-image: url("../images/fondo\ champions-2.jpg");
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  background: linear-gradient(to right, #66b3ff, #0072b8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 1.5rem 1rem 0 2.5rem;
}

table {
  text-align: left;
  border-collapse: collapse;
  --color: #03037f;
  caption-side: bottom;
}

th,
td {
  border: 1px solid lightgrey;
  padding: 0.25rem 0.75rem;
}

th,
caption {
  text-align: start;
}

thead th:not(:first-child),
td {
  text-align: end;
}

thead {
  border-block-end: 2px solid;
  background: whitesmoke;
}

tfoot {
  border-block: 2px solid;
  background: whitesmoke;
}

thead,
tfoot {
  background: var(--color);
}

tbody tr:nth-child(even) {
  background: color-mix(in srgb, var(--color), transparent 60%) !important;
}

tbody tr:nth-child(odd) {
  background: color-mix(in srgb, #8bb1ee, transparent 60%) !important;
}

input[type="search"] {
  background-color: white !important;
  color: black !important;
}

.match th:last-child {
  display: none;
}

.match td:last-child {
  display: none;
}

select option {
  background-color: gray;
}

.table-container {
  padding: 2.5em;
}