body {
  background-image: url("../images/fondo\ champions-2.jpg");
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em; /* Tamaño de fuente grande */
  text-transform: uppercase; /* Mayúsculas */
  letter-spacing: 3px; /* Espaciado entre letras */
  margin: 20px 0; /* Margen arriba y abajo */
  background: linear-gradient(to right, #66b3ff       , #0072b8    ); /* Gradiente azul y dorado */
  -webkit-background-clip: text; /* Clip de fondo para texto */
  -webkit-text-fill-color: transparent; /* Color de texto transparente */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra para darle profundidad */
  text-align: center;
}

table {
  text-align: left;
  border-collapse: collapse;
  --color: #03037f;
  caption-side: bottom;
}

th,
td {
  border: 1px solid lightgrey;
  padding: 0.25rem 0.75rem;
}

th,
caption {
  text-align: start;
}

thead th:not(:first-child),
td {
  text-align: end;
}

thead {
  border-block-end: 2px solid;
  background: whitesmoke;
}

tfoot {
  border-block: 2px solid;
  background: whitesmoke;
}

thead,
tfoot {
  background: var(--color);
}

tbody tr:nth-child(even) {
  background: color-mix(in srgb, var(--color), transparent 60%);
}

tbody tr:nth-child(odd) {
  background: color-mix(in srgb, #8bb1ee, transparent 60%);
}


.match th:last-child {
  display: none;
}

.match td:last-child {
  display: none;
}
.container .buscador {
  fill: #4285F4; /* Color del ícono */
  width: 25px; /* Ancho del ícono */
  height: 30px; /* Altura del ícono */
}
.container{
  justify-content: center;
  display: flex; /* Utiliza flexbox para alinear elementos */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  border-radius: 30px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  width: 400px; /* Ancho del contenedor */
  margin: auto; /* Centra el contenedor en la página */
  margin-bottom: 30px;
}
.container input[type="text"] {
  border: none; /* Sin borde */
  outline: none; /* Sin contorno al hacer clic */
  padding: 10px; /* Espaciado interno */
  border-radius: 15px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  width: 100%; /* Ancho completo del contenedor */
}
.container button{
  border-radius: 30px;
}