body {
  background-image: url("../images/fondo\ champions-2.jpg");
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

table {
  text-align: left;
  border-collapse: collapse;
  --color: #d0d0f5;
  caption-side: bottom;
}

th,
td {
  border: 1px solid lightgrey;
  padding: 0.25rem 0.75rem;
}

th,
caption {
  text-align: start;
}

thead th:not(:first-child),
td {
  text-align: end;
}

thead {
  border-block-end: 2px solid;
  background: whitesmoke;
}

tfoot {
  border-block: 2px solid;
  background: whitesmoke;
}

thead,
tfoot {
  background: var(--color);
}

tbody tr:nth-child(even) {
  background: color-mix(in srgb, var(--color), transparent 60%);
}

.match th:last-child {
  display: none;
}

.match td:last-child {
  display: none;
}
